body {
  background-color: #f4f5f6;
  font-family: "Roboto Condensed", sans-serif;
}

/* BOOTSTRAP OVERRULE */

a {
  color: inherit;
}
.container-fluid {
  max-width: 1310px;
  background-color: #fff;
}

/* HEADER */

header {
  background-color: #f72210;
}

/* NAV */

#nav-1,
#nav-2 {
  font-weight: bold;
}
#nav-1 {
  font-size: 1.2em;
  border-bottom: 2px solid #eee;
}
#nav-2 > a {
  text-transform: uppercase;
}

/* ARTICLES */

.card{
  border: none;
  border-radius: 0;
  width: 100%;
}
.card-img-top {
  border-radius: 0;
}
.card-img-b-overlay {
  position: relative;
}
.card-img-b-overlay > p {
  position: absolute;
  bottom: 0;
  color: #f72210;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.9);
}
.card-body {
  padding-left: 0;
  padding-right: 0;
}
.card h5 {
  font-weight: bold;
}

/* FOOTER */

footer li {
  display: inline;
}